doctype html
html(lang="en-US" dir="ltr")
  head
    title Google Classroom
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/teacher_classes.css")
  body
    nav.navbar.navbar-light.bg-light
      div.container-fluid
        a.navbar-brand Google Classroom
        p(style="font-size:30px") +
    div.container
        div.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
            div.col
                div.card
                    img.card-img-top.img-fluid(src="/assets/img/gallery/pic2.jpg", alt="...")
                    div.card-body
                    h5.card-title  #{classes.name + "  SECTION  " + classes.section}
                    a.btn.btn-primary(href=`/classes/${classes.id}`) Enter Class


    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js")